{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=tourplanner;Username=tourplanner;Password=kT1lM%OXCCr%4F"
  },
  "Routing": {
    "OpenRouteServiceApiKey": "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjcyNmUzMmEzODI2MjQ2NDJhYWMwNTllMmExYjFiM2QwIiwiaCI6Im11cm11cjY0In0="
  }
}